{% extends "../base.twig" %}


{% block main %}
	<main>
		<section>
			<h2>Ma premiere section</h2>
			<article>
				<h3>mon premier article</h3>
			</article>
			<article>
				<h3>mon deuxieme article</h3>
			</article>
		</section>

	</main>
{% endblock %}
